@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.header {
    padding: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #dc2430;
}
.header img {
position: relative;
left: 10.5rem;
}
.navbar a{
    color: white;
    margin: 3px;
    padding: 7px;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    right: 230px;
}
#home {
color: #ffd800;
}


.orta-yazi {
    position: relative;
    left: 12%;
    top: 195px;
    font-size: 20px;
     width: 100%;
   font-size: 55px;
   font-family: 'Open Sans', sans-serif;

    }
    
.subtitle {
    font-size: 15px;
  color: #333333; 
  padding: 8px;
}

.fa-brands {
       font-size: 16px;
        margin: 30px 0 10px;
        margin-right: 10px;
        padding: 15px;
        height: 18px;
        border: 2px solid #e01931;
        color: rgb(224, 25, 49);
        border-radius: 100px;
        text-decoration: none;
        letter-spacing: 1px;
}

.phone {
 width:550px;
position: relative;
left: 770px;
bottom: 170px;
}

.buy{
width: 100%;
background-color: #dc2430;
color: aliceblue;
font-family: 'Open Sans', sans-serif;
height: 550px;
font-size: 42px;
}

.long-text{
font-size: 15px;
letter-spacing: normal;
padding-top: 25px;
line-height: 26spx;
}

.red-zone {
width: 650px;
position: relative;
left: 750px;
top: 130px;
}

.buyphoto {
width: 450px;
position: relative;
right: 570px;
bottom: 290px;
}

.son-yazi{
height: 270px;
}

.amazing {
color: black;
text-align: center;
}

.last-txt{
color: black;
text-align: center;
font-size: 20px;
}
